:root {
  --main-font-family: 'DM Sans', sans-serif;
  --secondary-font-family: 'Titan One', cursive;
  --main-text-theme-bright: #ffffff;
  --main-text-theme-light: #000000;
  --secondary-text-theme-light: #907e82;
  --accent-text-dark: #d41443;
  --accent-text-light: #ffa5ba;
  --background-white: #e5e5e5;
  --background-hero: #ffb8ca;
  --background-light-pink: #fff5f6;
  --background-coffee: #f0d1a5;
  --background-milkshakes: #c2e297;
  --background-mobile-menu: #e17992;
  --hover-btn-light: #ecebeb;
  --hover-btn-dark: #cf4c6c;
}
