<div class="about section" id="about">
  <div class="container">
    <p class="about-title-desc title-desc">tradition and love</p>
    <h2 class="about-title title">how it’s made?</h2>
    <div class="about-content">
      <div class="about-content-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              images/about/cow_desk@1x.png 1x,
              images/about/cow_desk@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              images/about/cow_tab@1x.png 1x,
              images/about/cow_tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              images/about/cow_mob@1x.png 1x,
              images/about/cow_mob@2x.png 2x
            "
          />
          <img
            class="about-img"
            src="images/about/cow_mob@1x.png"
            alt="cow with milk"
          />
        </picture>
      </div>
      <div class="about-content-text">
        <p class="about-text-bold">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about-text-normal">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about-text-normal">Aliquam erat volutpat. Aenean accumsan.</p>
        <input class type="checkbox" id="checkbox" hidden />
        <p class="about-extra-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed
          nihil provident corporis cum numquam accusamus.
        </p>
        <label class="read-more modal-btn" for="checkbox">
          Read&nbsp; <span class="more">more</span>
          <span class="less" hidden>less</span>
          <svg class="btn-icon modal-btn-icon" height="11" width="11">
            <use href="/src/images/sprite.svg#icon-arrow-small"></use>
          </svg>
        </label>
      </div>
    </div>
  </div>
</div>
