<section class="advantages">
  <h2 class="advantages-title">Advantages</h2>
  <div class="container">
    <ul class="advantages-list list">
      <li class="advantages-content">
        <p class="advantages-text">
          <span class="advantages-description">721</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-content">
        <p class="advantages-text">
          <span class="advantages-description">16kg</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-content">
        <p class="advantages-text">
          <span class="advantages-description">84</span>Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
