<section class="background">
  <div class="container">
    <article>
    <h2 class="visually-hidden" id="customer-reviews">Customer reviews</h2>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <div class="customer-img">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/customer-img.png    1x,
                  ./images/customer-reviews/customer-img@x2.png 2x
                "
              />
              <img
                src="./images/customer-reviews/customer-img.png"
                alt="Сurly girl"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="customer-wrapper">
            
            <p class="customer-description">
              <span class="description-txt">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </span>
            </p>
            
          </div>
          <p class="customer-name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <div class="customer-img">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/customer-img-2.png    1x,
                  ./images/customer-reviews/customer-img-2@x2.png 2x
                "
              />
              <img
                src="./images/customer-reviews/customer-img-2.png"
                alt="Girl in glasses"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="customer-wrapper">
            
            <p class="customer-description">
              <span class="description-txt">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </spa>
            </p>
          </div>
          <p class="customer-name">Anna, New York</p>
        </div>
        <div class="swiper-slide">
          <div class="customer-img">
            <picture>
              <source
                srcset="
                  ./images/customer-reviews/customer-img-3.png    1x,
                  ./images/customer-reviews/customer-img-3@x2.png 2x
                "
              />
              <img
                src="./images/customer-reviews/customer-img-3.png"
                alt="Smiling girl girl"
                width="85"
                height="85"
              />
            </picture>
          </div>
          <div class="customer-wrapper">
            
            <p class="customer-description">
              <span class="description-txt">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
                ipsum primis in nibh vel risus.
              </span>
            </p>
          </div>
          <p class="customer-name">Debora, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </article>
  </div>
</section>

 
</section>
