<section class="gallery">
    <div class="gallery-picture">
    <div class="gallery-picture-one gallery-picture-item">
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg1-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg1@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet1-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet1@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop1-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop1@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg1.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    <div class="gallery-picture-two gallery-picture-item">
        <picture >
            <source
            srcset="./images/gallery/mobile/mobile-jpeg2-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg2@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet2-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet2@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop2-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop2@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg2.jpg" 
            alt="два мороженного на палочках">
        </picture>
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg3-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg3@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet3-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet3@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop3-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop3@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg3.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    <div class="gallery-picture-three gallery-picture-item">
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg4-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg4@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet4-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet4@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop4-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop4@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-main-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg4.jpg" 
            alt="два мороженного на палочках">
        </picture>
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg5-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg5@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet5-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet5@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop5-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop5@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg5.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    <div class="gallery-picture-four gallery-picture-item">
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg6-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg6@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet6-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet6@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop6-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop6@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg6.jpg" 
            alt="два мороженного на палочках">
        </picture>
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg7-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg7@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet7-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet7@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop7-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop7@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg7.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    <div class="gallery-picture-five gallery-picture-item">
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg8-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg8@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet8-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet8@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop8-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop8@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg8.jpg" 
            alt="два мороженного на палочках">
        </picture>
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg9-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg9@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet9-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet9@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop9-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop9@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg9.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    <div class="gallery-picture-six gallery-picture-item">
        <picture>
            <source
            srcset="./images/gallery/mobile/mobile-jpeg10-min.jpg 1x,
            ./images/gallery/mobile/mobile-jpeg10@2x-min.jpg 2x"
            media="(max-width: 767px)" />
            <source
              srcset="./images/gallery/tablet/jpg-tablet10-min.jpg 1x,
              ./images/gallery/tablet/jpg-tablet10@2x-min.jpg 2x"
              media="(min-width: 768px)" />
            <source
              srcset="./images/gallery/desktop/jpg-desktop10-min.jpg 1x,
              ./images/gallery/desktop/jpg-desktop10@2x-min.jpg 2x"
                media="(min-width: 1200px)" />
            <img class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg10.jpg" 
            alt="два мороженного на палочках">
        </picture>
    </div>
    </div>
</section>