<section class="gallery">
  <div class="gallery-picture container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery-list list">
      <li class="gallery-item-1">
        <picture class="gallery-pic-1">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg1-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg1@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet1-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet1@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop1-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop1@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg1.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-2">
        <picture class="gallery-pic-2">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg2-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg2@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet2-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet2@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop2-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop2@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg2.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-3">
        <picture class="gallery-pic-3">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg3-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg3@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet3-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet3@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop3-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop3@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg3.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-4">
        <picture class="gallery-pic-4">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg4-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg4@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet4-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet4@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop4-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop4@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-main-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg4.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-5">
        <picture class="gallery-pic-5">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg5-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg5@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet5-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet5@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop5-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop5@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg5.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-6">
        <picture class="gallery-pic-6">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg6-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg6@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet6-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet6@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop6-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop6@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg6.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-7">
        <picture class="gallery-pic-7">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg7-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg7@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet7-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet7@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop7-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop7@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg7.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-8">
        <picture class="gallery-pic-8">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg8-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg8@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet8-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet8@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop8-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop8@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon gallery-icon-margin-bottom"
            src="./images/gallery/mobile/mobile-jpeg8.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-9">
        <picture class="gallery-pic-9">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg9-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg9@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet9-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet9@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop9-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop9@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg9.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
      <li class="gallery-item-10">
        <picture class="gallery-pic-10">
          <source
            srcset="
              ./images/gallery/mobile/mobile-jpeg10-min.jpg    1x,
              ./images/gallery/mobile/mobile-jpeg10@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/gallery/tablet/jpg-tablet10-min.jpg    1x,
              ./images/gallery/tablet/jpg-tablet10@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/desktop/jpg-desktop10-min.jpg    1x,
              ./images/gallery/desktop/jpg-desktop10@2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="gallery-picture-icon"
            src="./images/gallery/mobile/mobile-jpeg10.jpg"
            alt="два мороженного на палочках"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
