<section class="hero">
    <div class="container">
        <h1 class="title">ice cream made with passion</h1>
        <ul class="hero-list list">
            <li class="hero-item">
                <a class="hero-link link" href="#">Products</a>
            </li>
            <li class="hero-item">
                <a class="hero-link link" href="#">How it&apos;s made?</a>
            </li>
        </ul>
        <ul class="fact-list list">
            <li class="fact-item">
                <p>
                    <span class="accent-numbers">16</span>cafes
                </p>
            </li>
            <li class="fact-item">
                <p>
                    <span class="accent-numbers">23</span>food trucks
                </p>
            </li>
        </ul>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et</p>
        <!-- <a href="" class="heto-text-link"></a> -->
        <!-- <img class="milk" src="" alt="Milk">
        <img class="ice-cream" src="" alt="Ice-cream">
        <img class="woman" src="" alt="Woman is eating ice-cream"> -->
    </div>
</section>