<section class="hero">
    <div class="container hero-container">
        <div class="hero-wrapper">
            <h1 class="hero-title">ice cream made with <span class="hero-title-accent">passion</span></h1>
            <ul class="hero-list list">
                <li class="hero-item">
                    <a class="hero-link link" href="#">Products</a>
                </li>
                <li class="hero-item">
                    <a class="hero-link bright-theme link" href="#">How it&apos;s made?</a>
                </li>
            </ul>
        </div>      
        <ul class="fact-list list">
            <li class="fact-item">
                <p class="fact-text">
                    <span class="accent-numbers">16</span>cafes
                </p>
            </li>
            <li class="fact-item">
                <p class="fact-text">
                    <span class="accent-numbers">23</span>food trucks
                </p>
            </li>
        </ul>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et
        <a class="read-more-btn read-more-btn-hero" href="">
            <svg class="read-more-btn-icon" height="5" width="6">
                <use href="/src/images/sprite.svg#icon-arrow-big"></use>
            </svg>
        </a>
        </p>
        <picture class="milk">
            <source media="(min-width: 1280px)" srcset="/src/images/hero/milk-desktop.png">
            <img  src="/src/images/hero/milk.png" alt="Milk" />
        </picture>                
        <picture class="ice-cream-thumb">
            <source media="(min-width: 1280px)" srcset="/src/images/hero/ice-cream-desktop.png">
            <source media="(min-width: 768px)" srcset="/src/images/hero/ice-cream-tablet.png">
            <img class="ice-cream" src="/src/images/hero/ice-cream.png" alt="Ice-cream" />
        </picture>
        <picture class="woman">
            <source media="(min-width: 1280px)" srcset="/src/images/hero/woman-desktop.png">
            <img src="/src/images/hero/woman.png" alt="Woman is eating ice-cream" />            
        </picture>       
    </div>
</section>