<section class="hero">
  <div class="container hero-container">
    <div class="hero-wrapper">
      <h1 class="hero-title">
        ice cream made with <span class="hero-title-accent">passion</span>
      </h1>
      <ul class="hero-list list">
        <li class="hero-item">
          <a class="hero-link link" href="#products">Products</a>
        </li>
        <li class="hero-item">
          <a class="hero-link bright-theme link" href="#about"
            >How it&apos;s made?</a
          >
        </li>
      </ul>
    </div>
    <ul class="fact-list list">
      <li class="fact-item">
        <p class="fact-text"><span class="accent-numbers">16</span>cafes</p>
      </li>
      <li class="fact-item">
        <p class="fact-text">
          <span class="accent-numbers">23</span>food trucks
        </p>
      </li>
    </ul>
    <div class="hero-text-wrapper">
      <p class="hero-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a class="read-more-btn read-more-btn-hero" href="">
        <svg class="read-more-btn-icon" height="7" width="10">
          <use href="/src/images/sprite.svg#icon-arrow-big"></use>
        </svg>
      </a>
    </div>
    
    <picture class="milk">
      <source
        media="(min-width: 1280px)"
        srcset="
          /src/images/hero/milk-desktop.png    1x,
          /src/images/hero/milk-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/hero/milk-tablet.png    1x,
          /src/images/hero/milk-tablet@2x.png 2x
        "
      />
      <img src="/src/images/hero/milk-tablet.png" alt="Milk" />
    </picture>
    <picture class="ice-cream-thumb">
      <source
        media="(min-width: 1280px)"
        srcset="
          /src/images/hero/ice-cream-desktop.png    1x,
          /src/images/hero/ice-cream-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/hero/ice-cream-tablet.png    1x,
          /src/images/hero/ice-cream-tablet@2x.png 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /src/images/hero/ice-cream-mob.png    1x,
          /src/images/hero/ice-cream-mob@2x.png 2x
        "
      />
      <img
        class="ice-cream"
        src="/src/images/hero/ice-cream-mob.png"
        alt="Ice-cream"
      />
    </picture>
    <picture class="woman">
      <source
        media="(min-width: 1280px)"
        srcset="
          /src/images/hero/woman-desktop.png    1x,
          /src/images/hero/woman-desktop@2x.png 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /src/images/hero/woman-tablet.png    1x,
          /src/images/hero/woman-tablet@2x.png 2x
        "
      />
      <img
        src="/src/images/hero/woman-tablet.png"
        alt="Woman is eating ice-cream"
      />
    </picture>
  </div>
</section>
