<div class="backdrop is-hidden" data-map>
  <div class="contact-form-wrapper contact-form-wrapper--map">
    <button class="modal-close-btn" type="button" data-map-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d23258.46831825324!2d76.85545047825003!3d43.223990345354025!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1657727978108!5m2!1sru!2skz" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
