<div class="backdrop is-hidden" data-map>
  <div class="contact-form-wrapper contact-form-wrapper--map">
    <button class="modal-close-btn" type="button" data-map-close>
      <svg class="modal-close-btn-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8d705b9b58c1ed03040565b0cf78abea4bdbced490f84cc1ca1ee0b2b8fcafbb&amp;width=100%25&amp;height=679&amp;lang=ru_RU&amp;scroll=true"></script>
  </div>
</div>
