<div class="test container" style="background-color: pink">
  <p class="title-desc">100% natural</p>
  <h2 class="title">products</h2>

  <button class="modal-btn">
    Buy now
    <svg class="modal-btn-icon" width="7" height="10">
      <use href="/src/images/sprite.svg#icon-arrow-small"></use>
    </svg>
  </button>
  <br />
  <button class="modal-btn modal-btn-dark">
    Our Locations
    <svg class="modal-btn-icon modal-btn-icon-dark" width="7" height="10">
      <use href="/src/images/sprite.svg#icon-arrow-small"></use>
    </svg>
  </button>
  <a class="read-more-btn" href="">
    <svg class="read-more-btn-icon" height="11" width="11">
      <use href="/src/images/sprite.svg#icon-arrow-big"></use>
    </svg>
  </a>
</div>
