<section class="container products" id="products">
  <p class="title-desc">100% natural</p>
  <h2 class="title">products</h2>

  <ul class="products-list list">
    <li class="products-card products-card--ice-cream">
      <h3 class="products-title products-title-ice-cream">ice cream</h3>
      <p class="products-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et <span class="product-text-mobile">. dolore magna aliqua facilisis.
    </span></p>
      <a class="read-more-btn products-btn" href="">
        <svg class="read-more-btn-icon" height="11" width="11">
          <use href="/src/images/sprite.svg#icon-arrow-big"></use>
        </svg>
      </a>
    </li>

       <li class="products-card products-card--coffee">
        <h3 class="products-title products-title-coffee">ice coffee</h3>
        <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et <span class="product-text-mobile">. dolore magna aliqua facilisis.
            </span></p>
        <a class="read-more-btn products-btn" href="">
            <svg class="read-more-btn-icon" height="11" width="11">
                <use href="/src/images/sprite.svg#icon-arrow-big"></use>
            </svg>
        </a>
    </li>

    <li class="products-card products-card--milkshake">
        <h3 class="products-title products-title-milkshake">milkshake</h3>
        <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et <span class="product-text-mobile">. dolore magna aliqua facilisis.
            </span></p>
        <a class="read-more-btn products-btn" href="">
            <svg class="read-more-btn-icon" height="11" width="11">
                <use href="/src/images/sprite.svg#icon-arrow-big"></use>
            </svg>
        </a>
    </li>
    
  </ul>
</section>

