.page-header {
    background: tan;
}
.page-header {
    padding-top: 8px;
    padding-bottom: 8px;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header-navigation {
    display: none;
}
.modal-btn {
    display: none;
}
.burger{
    background-color: transparent;
}
@media screen and (min-width: 768px) {
    .page-header {
        padding-top: 32px;
        padding-bottom: 18px;
    }
    .page-header-container {
        justify-content: normal;
    }
    .logo {
        margin-right: 292px;
    }
    .burger {
        margin-right: 32px;
        padding: 0;
    }
    .modal-btn {
        display: flex;
        cursor: pointer;
    }
}

@media screen and (min-width: 1280px) {
    .page-header {
        padding-top: 36px;
        padding-bottom: 36px;
    }
    .burger {
        display: none;
    }
    .logo {
        margin-right: 128px;
    }
    .page-header-navigation {
        display: block;
        margin-right: 140px;
    }
    .menu {
        display: flex;
    }
    .menu-item:not(:last-child) {
        margin-right: 35px;
    }
    .menu-link {
        @include font(16px, 21px, 700);
        color: var(--main-text-theme-bright)
    }
    .menu-link.active {
        color: var(--accent-text-dark);
    }
}